<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        div,p {
            color: black;
        }
    </style>
</head>
<body>
<p th:text="Dear+' '+${userFirstName}+', '"></p>
<div>
You have been asked to execute a submission in analysis <a th:href="@{${analysisUrl}}"><span class="btn-link" th:text="${analysisTitle}"></span></a> for study <a th:href="${studyUrl}"><span class="btn-link" th:text="${studyTitle}"></span></a>.
<br/>
To accept this request, please follow this
<a th:href="@{${invitationUrl}(id=${submissionId},accepted='true',type='APPROVE_EXECUTE_SUBMISSION',userUuid=${userUuid},token=${token})}">link</a>. Alternatively, please follow this
<a th:href="@{${invitationUrl}(id=${submissionId},accepted='false',type='APPROVE_EXECUTE_SUBMISSION',userUuid=${userUuid},token=${token})}">link</a>
if you wish to reject this request.</div>
<p th:utext="${signature}">
    Regards,<br/>
    Odysseus Data Services, Inc.
</p>
</body>
</html>